/* flexbox grid system */

.flex-grid {
  display: flex;
}

.flex-grid-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

/* Browse Page CSS */

h1 {
  text-align: center;
}

.items-grid > div {
  width: 90%;
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: -2px;
}

.items-grid > div > div > div {
  background-color: white;
}

.tile-container {
  width: 30%;
  padding: 2px;
}

.tile-container a {
  width: 100%;
  height: 100%;
  display: block;
}

.tile-container img {
  width: 100%;
}

/* Item Page CSS */

.card-container-outer {
  margin: 10px 5px;
}

.card-container, .card-container-image, .card-container-description {
  margin: 10px;
}

.card-container-description {
  margin-top: 20px;
}

.favorite-checkbox > div {
  justify-content: flex-end;
}

/* Media Queries */

@media (max-width: 991px) {
  .tile-container {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .flex-grid {
    display: block;
  }

  .items-grid > div {
    flex-flow: column wrap;
  }

  .tile-container {
    width: 100%;
  }

  .tile-container img {
    transform: translateY(0%) !important;
  }

  .card-container-image {
    max-width: 400px;
    margin: 10px auto;
  }
}
