/* flexbox grid system */

.flex-grid {
  display: flex;
}

.flex-grid-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.col-3 {
  flex: 1;
}

.col-1 {
  flex: 2;
}

.col-2 {
  flex: 3;
  max-width: 640px;
  margin: 0 auto;
}

/* Browse Page CSS */

h1 {
  text-align: center;
}

.items-grid > div {
  width: 90%;
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: -2px;
}

.tile-container {
  width: 30%;
  padding: 2px;
}

.tile-container a {
  width: 100%;
  height: 100%;
  display: block;
}

.tile-container img {
  width: 100%;
}

/* Item Page CSS */

.card-container-outer {
  margin: 10px 5px;
}

.card-container, .card-container-image, .card-container-description, .card-container-col3 {
  margin: 10px;
}

.card-container-image, .card-container-col3 {
  flex: 1 2 0%;
}

.card-container-description {
  margin-top: 20px;
  flex: 1 2 0%;
}

.favorite-checkbox > div {
  justify-content: flex-end;
}

.card-title br {
  line-height: 50px;
}

.description-measurements, .card-container-description p {
  font-size: 16px;
  line-height: 22px;
}

.card-container-description p {
  max-width: 550px;
}

.title-price, .p-item-description {
  color: #776868;
}

.button-purchase:hover span, .button-make-offer:hover span, .button-back-to-browse:hover span {
  color: white;
}

@-webkit-keyframes move-back-to-browse-arrow {
  0% {
    fill: #c2a661;
    left: 0;
  }
  10%, 100% {
    fill: white;
    left: -15px;
  }
}
@keyframes move-back-to-browse-arrow {
  0% {
    fill: #c2a661;
    left: 0;
  }
  10%, 100% {
    fill: white;
    left: -15px;
  }
}

.button-back-to-browse:hover svg {
  position: relative;
  -webkit-animation: 3s infinite move-back-to-browse-arrow;
  animation: 3s infinite move-back-to-browse-arrow;
}

/* Media Queries */

@media (max-width: 1200px) {
  .col-3 {
    display: none;
  }
}

@media (max-width: 991px) {
  .tile-container {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .flex-grid {
    display: block;
  }

  .flex-grid-column {
    display: block;
    height: auto;
  }

  .items-grid > div {
    flex-flow: column wrap;
  }

  .tile-container {
    width: 100%;
  }

  .tile-container img {
    transform: translateY(0%) !important;
  }

  .card-container-image {
    max-width: 400px;
    margin: 10px auto;
  }

  .card-container, .card-container-description {
    margin-left: auto;
    margin-right: auto;
  }
}
